@import 'variables';
@import 'mixins';

button {
  outline: 0px;
  cursor: pointer;
  &:focus {
    outline: 0px;
  }
}

.button {
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0px;
  color:#000;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  height: 90px;
  text-align: center;
  text-transform: uppercase;
  padding: 0px 35px;
  cursor: pointer;
  transition: 0.3s ease all;
  transition-property: border-color,background-color;
  @include buttonRecolor($white);
  @media (max-width: 1199px) {
    font-size: 12px;
  }
  @media (max-width: 575px) {
    height: 80px;
    font-size: 11px;
  }
  img {
    margin-right: 10px;
  }
  &--red {
    @include buttonRecolor($red);
  }
  &--medium {
    height: 70px;
    @media (max-width: 575px) {
      height: 60px;
    }
  }
  &--small {
    height: 50px;
    @media (max-width: 575px) {
      height: 40px;
    }
  }
  &--transparent {
    background-color: transparent;
    &:hover {
      color:#000;
    }
  }
  &--rounded {
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    @media (max-width: 1199px) {
      font-size: 11px;
    }
    &.button--small {
      @include border-radius(25px);
    }
    &.button--medium {
      @include border-radius(35px);
    }
  }
  &--iconize {
    padding-right: 0px;
    .button__content {

    }
    .button__icon {
      height: 100%;
      width: 90px;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-left: 35px;
      img {
        margin: 0;
      }
    }
    &.button--medium {
      .button__icon {
        width: 70px;
      }
    }
    &.button--small {
      .button__icon {
        width: 70px;
      }
    }
  }
  &--animated {
    overflow: hidden;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 3px;
      height: 3px;
      background-color: hsla(0,0%,100%,.1);
      transition: transform .3s ease;
      bottom: -5px;
      left: -5px;
      -webkit-transform: scale(0);
      transform: scale(0);
      animation: buttonBlink infinite ease-in-out 5s;
      z-index: 5;
      pointer-events: none;
      border-radius: 50%;
    }
  }
}

@keyframes buttonBlink{
  75% {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(500);
    -moz-transform: scale(500);
    -o-transform: scale(500);
    transform: scale(500);
    opacity: 0.0;
  }
}
