// **************
// **************
// App Variables
// developer: Sklyarov Alexey
// **************
// **************


// **************
// App Fonts
// **************

$font: 'Gotham Pro',sans-serif;



// **************
// App Colors
// **************

$purple: #532881;
$pink: #E04DE8;
$red: #E01E58;
$purpledark: #2C184D;
$white: #fff;
$green: #27AE60;

$sm:576px;
$md:768px;
$lg:992px;
$xl:1200px;
